@model ERP_Web_App.Models.Source

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Source</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SourceId" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceName" class="control-label"></label>
                <input asp-for="SourceName" class="form-control" />
                <span asp-validation-for="SourceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LotNo" class="control-label"></label>
                <input asp-for="LotNo" class="form-control" />
                <span asp-validation-for="LotNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RAM" class="control-label"></label>
                <input asp-for="RAM" class="form-control" />
                <span asp-validation-for="RAM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ROM" class="control-label"></label>
                <input asp-for="ROM" class="form-control" />
                <span asp-validation-for="ROM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IMEI" class="control-label"></label>
                <input asp-for="IMEI" class="form-control" />
                <span asp-validation-for="IMEI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IMEI2" class="control-label"></label>
                <input asp-for="IMEI2" class="form-control" />
                <span asp-validation-for="IMEI2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelId" class="control-label"></label>
                <select asp-for="ModelId" class="form-control" asp-items="ViewBag.ModelId"></select>
                <span asp-validation-for="ModelId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
